<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6096B4;
    text-align: center;
}
</style>    
    
    <footer class="footer">
        <p class="copyright">Copyright &copy; Flight Club 2023</p>
        <!-- airplane_01 -->
        <a class="atributation" href="https://www.flaticon.com/free-icons/plane" title="plane icons">Plane icons created by Good Ware - Flaticon</a>
        <!-- airplane_02 -->
        <a class="atributation" href="https://www.flaticon.com/free-icons/plane" title="plane icons">Plane icons created by Freepik - Flaticon</a>
        <!-- cloud_02 -->
        <a class="atributation" href="https://www.flaticon.com/free-icons/cloud-computing" title="cloud computing icons">Cloud computing icons created by Freepik - Flaticon</a>
    </footer>
    
</body>
</html>